


		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>FAME Manantiales  Morelia </h3>
<span class="single-project-content">
                    <img alt="Fame Manantiales Morelia" src="images/fachada-manantiales-morelia.jpg"></span> 
                    <li><span><i class="fa fa-home"></i>Periférico Paseo de la República #2655</span> Col. Las Camelinas  <span>Morelia, Michoacán</span></li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15026.71146568071!2d-101.1671!3d19.683744!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6028454e5bb7cc1!2sGMC%2C+Buick+y+Cadillac+Morelia!5e0!3m2!1ses!2smx!4v1481391149565" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            
            
            </div>
            
           <div class="single-project-content"> <img src="images/shadow.png"></div>

					</div>
				</div>
			</div>
            
            <div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>FAME Manantiales  Uruapan  </h3> <br>
<span class="single-project-content">
                    <img alt="Fame Manantiales Uruapan" src="images/fachada-manantiales-uruapan.jpg"></span>  
                   
                   <li><span><i class="fa fa-home"></i>Prol.Paseo Lázaro Cárdenas #591</span> <span>Fracc. Jardines del Bosque. </span> <span>Uruapan, Michoacán</span></li>                   
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div >

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d940.9314465501996!2d-102.05937777077204!3d19.381022564290078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0c587a20f09ac17!2sFAME+MANANTIALES%2C+S.A.+DE+C.V.!5e0!3m2!1ses-419!2smx!4v1553644085715" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
			</div>
            
            
            </div>
            
            

					</div>
				</div>
			</div>

		</div><br>

</body>
</html>